*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
	transition: background 0.2s linear, color 0.2s linear;

}
body.dark{
	background:#353b48;
	transition: background 0.2s linear;
}
.container{
    height:100vh;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.chat_left{
    width: 40% ;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}
.list_users_container{
    height: 80%;
    width: 100%;
    background: #4cd137;
    border-radius: 30px;  
	transition: background 0.2s linear, color 0.2s linear;

}
.dark .list_users_container{
    background: #2f3640;
	color:#7f8fa6 ;
	transition: background 0.2s linear, color 0.2s linear;
}
.dark .control_container{
	background: #2f3640;
	color:#7f8fa6 ;
	transition: background 0.2s linear, color 0.2s linear;
}

.control_container{
    background:#4cd137;
    width: 100%;
    height: 18%;
    border-radius: 30px;
    display: flex;
    justify-content:space-between;
    align-items:center;
	transition: background 0.2s linear, color 0.2s linear;

}

.dark .chat_right{
	background: #2f3640;
	color:#7f8fa6 ;
	transition: background 0.2s linear, color 0.2s linear;
}
.chat_right{
    width: 58%;
    height: 100%;
    background: #4cd137;
	border-radius:30px;
	padding: 5px;
	transition: background 0.2s linear, color 0.2s linear;

}
.list_user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px -1px 1px rgba(0,0,0,0.25);
   
}
.list_user:hover{
    cursor: pointer;
    background-color: #44bd32;
}
.list_users{
    height: 85%;
    overflow-y:scroll;
    padding: 20px;
    border-radius: 15px;
}
.list_users_header h1{
    text-align: center;
    padding: 5px;
}


/* switch */
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}


/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}
.ft img{
    width: 50px;
    height:50px;
    border-radius: 50%;
}
.ft{
    padding: 0px 30px;
    text-align: center;
	width: 120px;

}
.l{
    width: 1px;
    height:70%;
    background-color:white;
    border-radius: 5px;
}

.chat_title{
	display: flex;
	justify-content:space-between;
	align-items:center;
	border-bottom: 1px solid rgba(0,0,0, 0.25);
	padding: 10px;
}
.chat_container{
	padding: 10px 0px;
	height: 100%;
	
}
.chat_title h1{
	font-size:25px
}
.chat_title p{
	font-size:13px
}
.chat_body{
	height: 90%;
}
.chat_body_wrapper{
	padding: 15px 10px;
	height:93%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}
.chat_content{
	background-color: #95a5a6;
	margin-bottom: 5px;
	padding: 7px 10px;
	max-width: 70%;
	border-radius: 20px;
	color:white;
	align-self: flex-start;
}
.chat_content.owner{
	background: #3498db;
	align-self: flex-end !important;
}

.chat_body form{
	padding-left: 25px;
	display: flex;
	align-items: center;
}
.chat_body form input{
	border: none;
	background: transparent;
	border-bottom: 3px solid gray;
	width: 85%;
	transition:0.5s

}
.chat_body form input:focus{
	outline: none;
	padding: 8px;
	transition:0.5s
}

.chat_body form button{
border: none;
background: transparent;
align-items: center;
}