*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
}
.user-chat{
    width: 4%;
    height:100vh;
    background-color: #202225;
}
.chat-des{
    background-color: #2f3136;
    height:100vh;
    width: 15%;
}
.chat{
    width:81%;
}
.chat-title{
    background-color:#36393f;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #26272b;
}
.chat-body{
    background-color:#36393f;
    display: flex;
    height:100%;
}
.chat-message{
    background-color:#36393f;
    width: 75%;
    height:100%
}
.user-list{
    width:25%;
    background-color:#2f3136;
    height:100%;
}